$c-white: #fff;
$c-header: #15142f;
$c-big-idea: #5bdb7b;
$c-black: #000;

.footer {

  background-color: $c-black;

  &__social {
    min-width: 20rem;
    text-align: center;
  }

  &__icon {
    margin: 0 1.5rem;
  }
}

.fa {
  color: $c-white;
}

.fa-sun-o {
  color: $c-big-idea;
}
