@media screen and (min-width: 481px) and (max-width: 768px) {
  .projects {

  }

  .project__img {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .project {
    display: flex;
    flex-direction: column;

    &__text-title {
      font-size: 1.5rem;
    }
  }
}
