@media screen and (min-width: 481px) and (max-width: 768px) {


  .project__img {
    width: 50%;
  }

  .card__content {
    font-size: 0.75rem;
  }


}

@media screen and (max-width: 480px) {
  .project {
    display: flex;
    flex-direction: column;

    &__text-title {
      font-size: 1.5rem;
    }
  }

  .footer__icon {
    margin: 0 1rem;
  }


}
