// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'header';
@import 'hero';
@import 'footer';
@import 'main';
@import 'media';
@import 'blog';
@import 'city';

$c-white: #fff;
$c-header: #15142f;
$c-big-idea: #5bdb7b;
$c-black: #000;

body {
  font-family: 'PT Sans Narrow', sans-serif;
}
